.form__labelText {
    max-width: 200px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.form__field {
    max-width: 200px;
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form__fieldset {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 60%);
    margin: 20px 0;
}

