.footer {
    background-color: hsla(240, 86%, 18%, 0.85);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.footer__paragraph {
    margin: 0;
    padding: 5px;
}